<h2>Add an author...  </h2>

<form action="/authors" method="post">
    <input type="text" name="name" placeholder="Name..."> <br />
    <input type="number" name="mustacheSize" placeholder="In centimeters...."><br />
    <input type="submit" value="Add Author">
</form>